@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";
@use "./typography";
@use "./code";
@use "./layout";
@use "./media";

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light);
  font-family: var(--bodyFont);
  color: var(--darkgray);
}
